name: Docker Build and Push

on:
 push:
  branches:
   - release

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4

    - uses: actions/cache@v4
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
        submodules: recursive

    - name: Setup Go
      uses: actions/setup-go@v5
      with:
        go-version-file: "go.mod"

    - name: Install dependencies
      run: go mod download

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@0d4c9c5ea7693da7b068278f7b52bda2a190a446
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Install Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libwebp-dev

    - name: Update Kubernetes Deployment Image
      run: |
        sed -i 's|yuorei/video-server:[^ ]*|yuorei/video-server:${{ github.sha }}|' kubernetes/deployment.yaml

    - name: Commit changes
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git commit -am "Update deployment image to ${{ github.sha }}"

    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        branch: ${{ github.ref }}

    - name: Build and Push Docker Image
      uses: docker/build-push-action@1ca370b3a9802c92e886402e0dd88098a2533b12
      with:
        context: .
        file: Dockerfile
        push: true
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/video-server:${{ github.sha }}

    - name: Docker Image Digest
      run: echo ${{ steps.build-and-push.outputs.digest }}
